@using Abp.Authorization.Users
@model HIPMS.Shared.ForgotPasswordInput
@{
    ViewBag.Title = L("ForgotPassword");
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Register.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Register.min.js" asp-append-version="true"></script>
    </environment>
}
<h4 class="text-center">@L("ForgotPassword")</h4>
<form id="ForgotPasswordForm" asp-controller="EmailTrigger" asp-action="ForgotPassword" method="post">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            <i class="fas fa-warning"></i> @ViewBag.ErrorMessage
        </div>
    }

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="@L("Name")" asp-for="@Model.Username" required>
       
        
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="@L("EmailAddress")" asp-for="@Model.UserEmail" required>
        @*<input asp-for="@(Model.Username)" type="text" class="form-control" />*@
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-arrow-left"></span>
            </div>
        </div>
    </div>

@*    <div class="input-group mb-3">
        <input type="email" name="EmailAddress" class="form-control" placeholder="@L("EmailAddress")" value="@Model.EmailAddress" required maxlength="@AbpUserBase.MaxEmailAddressLength">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
    </div>*@


    <div class="row">
        <div class="col-6">
            <a asp-action="Login" class="btn btn-default btn-flat"><i class="fa fa-arrow-circle-left"></i> @L("Back")</a>
        </div>
        <div class="col-6">
            <button type="submit" id="ForgotPasswordButton" class="btn btn-primary btn-block btn-flat">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Password will be sent on registered mail Id.
        </div>
    </div>
</form>
